h1{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  color: white;
  text-shadow: 2px 2px #02010a;
  padding: 0px;
  margin: 0px;

}

header{
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    0%   {margin-top: 150%;}
    60%  {margin-top: -5%;}
    100% {margin-top: 0%;}
  }


.menu h1 a:visited{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  color: white;
  text-shadow: 2px 2px #02010a;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  }

  .contenido{
    align-items: center;
    text-align: center;
    width: 900px;
    bgcolor: #02010a;
  }

div [class*="bloque"]{
  min-height: 200px;
  flex: 1 2 3 40%;
}

.bloque1 {
  color: #FF000;
  background-color: #d5c75f;
  order: 1;
  width:33%;
  margin-top: 20px
}

.imagen{
  -webkit-filter:blur(10px);
  filter: blur(10px);
  box-shadow: 2px;
  color:#02010a;
}

.imagen2{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  box-shadow: 2px;
  color:#02010a;
}


.imagen3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
  box-shadow: 2px;
  color:#02010a;

}

.bloque2{
  border: 1px;
  background-color: #d5c75f;
  order: 2;
  width:33%;
  margin-top: 20px
  }

.bloque3 {
  border: 1px;
  background-color: #d5c75f;
  order: 3;
  width:33%;
  margin-top: 20px
}

.bloque4 {
  border: 1px;
  background-color: #d5c75f;
  order: 4;
  width:33%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.bloque5 {
  border: 1px;
  background-color: #d5c75f;
  order: 5;
  width:33%;
  margin-top: 20px;
  margin-bottom: 20px;
  shadow: 2px;
  color shadow: #02010a
}

.bloque6 {
  border: 1px;
  background-color: #d5c75f;
  order: 6;
  width:33%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor{
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;
}

.footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #C6d5c5;
  text-align: left;
}
